.container {
  position:absolute;
  width: 500px;
  margin: auto;
  margin-left: -250px;
  left: 50%;
  margin-top: -100px;
  top: 50%;
}
.quote-container{
  min-height: 150px;
}
.auth-container{
  height: 40px;
}
body {
  background-color: #010a00;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  font-size: 1rem;
}


/* neon css 
from: 
https://codemyui.com/css-neon-text-glow-effect/
*/
.quote {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.author {
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
// opacity: 0;
}

i{
  position: absolute;
  color: #fff;
  left: 100%;
  top: 100%;
  margin-top: -30px;
  margin-left: -30px;
}

i:hover{
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

a {
  text-decoration: none;
}
/*
a i {
  margin-left: 15px;
  left: 0;
}*/
#share {
  margin-left: 0;
  left: 0;
  top: calc(100% - 50px);
  width: 50px;
  height: 50px;
  position: absolute;

}
#share i {
  position: relative;
  float:left;
}
.fa-facebook{
  margin-left:0;
}

@media screen and (max-width: 500px){
  .container{
    width: 340px;
    margin-left:-170px;
  }
}